<h2 class="mat-h1">{{ data.h1 }}</h2>
<form class="chart-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field class="full-width">
    <mat-label>Title</mat-label>
    <input
      matInput
      placeholder="Title of chart"
      value=""
      formControlName="title"
    />
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Subtitle</mat-label>
    <input
      matInput
      placeholder="Additional info for chart"
      value=""
      formControlName="subtitle"
    />
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Type of Chart</mat-label>
    <mat-select formControlName="type" (selectionChange)="setAxesLength($event.value)">
      @for (chart_type of typesOfChart; track chart_type) {
      <mat-option [value]="chart_type">{{ chart_type }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
	@if (form.value.type) {
  <mat-form-field class="full-width">
    <mat-label>Color Scheme</mat-label>
    <mat-select formControlName="colors">
      @for (color of colorPalette; track color) {
      <mat-option [value]="color.title">{{ color.title }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
	<div formArrayName="axes">
		@for (axis of makeAxesArray()['controls']; track $index; let idx = $index;) {
		<mat-form-field class="full-width">
			<mat-label>Axis {{ axesNames[$index] }}</mat-label>
			<mat-select formControlName="{{$index}}" (selectionChange)="onChange($event.value, $index)">
				@for (target of listOfTargets; track $index + '_' + target) {
          @if (!checkDisabled(idx, target)){
				<mat-option [value]="target" [disabled]="">{{ target }}</mat-option>
          }
				}
			</mat-select>
		</mat-form-field>
		}
	</div>
	}
  @if (selects.slice(0, minAxesNumber).includes("birthdate")) {
    <mat-form-field class="full-width">
      <mat-label>Count By</mat-label>
      <mat-select formControlName="countby" (selectionChange)="setAxesLength($event.value)">
        @for (counter of countBy; track counter) {
        <mat-option [value]="counter">{{ counter }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
  <section class="fifty-fifty mb10">
    <mat-checkbox formControlName="wide">Wide chart</mat-checkbox>
    <mat-checkbox formControlName="tall">Tall chart</mat-checkbox>
  </section>
  @if (data.id) {
  <div class="full-width mb10">
    <mat-checkbox class="warning" formControlName="remove">Remove chart</mat-checkbox>
  </div>
  }
  <div class="fifty-fifty mb10">
    <button mat-fab extended (click)="dialogRef.close()">
      <mat-icon>cancel</mat-icon>
      Cancel
    </button>
    <button mat-fab extended>
      <mat-icon>save</mat-icon>
      Submit
    </button>
  </div>
</form>
