<div class="grid-container">
  <h1 class="mat-h1">Settings</h1>
  <mat-grid-list cols="2" rowHeight="100px" [gutterSize]="'10px'">
    @for (item of settings; track item) {
    <mat-grid-tile [colspan]="item.wide ? 2 : 1" [rowspan]="item.tall ? 2 : 1">
      <div class="card">
        <strong
          class="mat-h3"
          style="cursor: pointer"
          (click)="openDialog(item)"
          >{{ item.title }}</strong
        >
        <div>
          Type: {{ item.type }}<br />
          Axes: {{item.axes.join(', ')}}
          @if (item.countby) {
            <br>Count by: {{ item.countby }}
          } @else if (item.axes.includes('birthdate')) {
            <br>Count by: days
          }
        </div>
      </div>
    </mat-grid-tile>
    }
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <div class="example-button-container">
        <button mat-fab extended (click)="openDialog()">
          <mat-icon>add</mat-icon>
          Add chart
        </button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
