<div class="grid-container">
  <h1 class="mat-h1">Settings</h1>
  <mat-grid-list cols="2" rowHeight="100px" [gutterSize]="'10px'">
    @for (item of settings; track item) {
    <mat-grid-tile [colspan]="item.wide ? 2 : 1" [rowspan]="item.tall ? 2 : 1">
      <div class="card">
        <strong
          class="mat-h3"
          style="cursor: pointer"
          (click)="openForm(item)"
          >{{ item.title }}</strong
        >
        <div>
          {{ item.type }}<br />
          @for (axis of item.axis; track axis) {
          {{ axis.title }}: {{ axis.target }}, }
        </div>
      </div>
    </mat-grid-tile>
    }
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <div class="example-button-container">
        <button mat-fab extended (click)="openForm()">
          <mat-icon>add</mat-icon>
          Add chart
        </button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
