.grid-container {
  margin: 20px;
}

mat-grid-tile {
  background: var(--mat-sys-primary-container);
  border-radius: 5px;
}

mat-grid-tile:hover {
  background: var(--mat-sys-outline-variant);
}

.card .mat-h3 {
  cursor: pointer;
  color: var(--fbc-blue-60);
}

.card .mat-h3:hover {
    color: var(--mat-sys-on-primary-fixed-variant);
}
